* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    margin: auto;
    padding: 1rem;
    position: fixed;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
}