/* als ik nog een keer een nederlander word genoemd ga ik alles in het turks maken. :D*/

.konteyner{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.mavi{
    background-color: blue;
    height: 200px;
    width: 200px;
}

.kirmizi{
    background-color: red;
    height: 200px;
    width: 200px;
}

.siyah{
    background-color: black;
    height: 200px;
    width: 200px;
}

.yesil{
    background-color: green;
    height: 200px;
    width: 200px;
}