* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
}
.header { position: absolute;
  text-align: center;
  font-size: 50px;
  top: 50%;
  color: white;
  width: 100%;    
}

nav {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

.background{
  background-image:url("img/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.background-black{
  background-color: black;
}

.h1-title{
  text-align: center;
  font-size: 50px;
  width: 100%;
  padding-top: 3em; 
}
.h1-title-first{
  text-align: center;
  font-size: 50px;
  width: 100%;
  padding-top: 3em; 
  color: white;
}

.h1-title-white{
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 50px;
  width: 100%;
  padding-top: 3em; 
  color: white;
}

.white{
  color: white;
}

footer{
  position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #00a8c7;
  color: white;
  padding: 30px;
  text-align: left;
  margin: 0;
  text-align: center;
  font-size: 15px;
}

html{
  font-family: "goldman";
}

.html-css-text{
  margin-right: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 15px;
}

.img-html-css{
  float: left;
  width: 33%;
  height: 33%;
  padding-right: 0px;
  margin-left: 10%;;
}

.all-html-css{
  margin-left: 50%;
  margin-top: 5%;
 
}

.title{
  text-align: center;
  font-size: 50px;
  width: 100%;
  padding-top: 3em;
}

.all-php {
  margin-left: 50%;
  margin-top: 5% ;
}

.php-text {
  margin-right: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 13px;
}

.img-php {
  float: left;
  width: 33%;
  height: 33%;
  padding-right: 0px;
  margin-left: 10%;;
}

.img-sql {
  float: right;
  width: 33%;
  height: 33%;
  margin-right: 15%;
}

.sql-all {
  color: white;
  font-size: 15px;
}

.sql-all {
  padding-top: 50px;
  padding-left: 159px;
  padding-right: 700px;
  padding-bottom: 50px;
}